.sections {
  margin-bottom:  50px
}

.privacy-policy {
  margin: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.privacy-policy a {
  text-decoration: underline;
}

.privacy-policy h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.privacy-policy h2 {
  font-size: 1.2em;
  margin-top: 0.1em;
}

.privacy-policy h3 {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.privacy-policy h4 {
  font-size: 1em;
  margin-top: 1em;
}

.privacy-policy p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0em;
}

.privacy-policy ul {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 20px;
}

.privacy-policy ul li {
  margin-bottom: 0.5em;
}


.cookies-table{
  margin-top: 30px;
}

.cookies-table .section {
  margin-bottom: 2rem;
}



.cookies-table .section ul {
  list-style-type: none;
  padding: 0;
}

.cookies-table .section li {
  display: flex;
  color: #0A3764;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

