.addServices {
  width: 100%;
  padding: 0px 20px;
  @media (min-width: 320px) and (max-width: 599.99px) {
    width: 100%;
    margin-bottom: 50px;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    width: 100%;
    margin-bottom: 50px;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    margin-top: 30px;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    padding-left: 25px;
    padding-top: 100px;
    padding-right: 50px;
  }
}

.sectionWrapper {
  @media (min-width: 320px) and (max-width: 599.99px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    width: 100%;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    width: 100%;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    display: flex;
    flex-direction: row;
  }
}

.sectionContent {
  @media (min-width: 320px) and (max-width: 599.99px) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    margin-top: 20px;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    width: 100%;
    display: flex;
    display: row;
    justify-content: space-between;
    gap: 20px;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    margin-left: 25px;
    width: 100%;
    display: flex;
    display: row;
    justify-content: space-between;
  }
}

.addServicesItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: 1280px) and (max-width: 2200px) {
    width: 27%;
  }
}

.titleWrapper {
  @media (min-width: 1280px) and (max-width: 2200px) {
    width: 70px;
    position: relative;
  }
}

.title {
  @media (min-width: 320px) and (max-width: 1279.99px) {
    white-space: nowrap;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #1d3967;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    position: absolute;
    white-space: nowrap;
    top: 134px;
    left: -120px;
    height: fit-content;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.1em;
    transform: rotate(-90deg);
    color: #1d3967;
  }
}

.text {
  @media (min-width: 320px) and (max-width: 599.99px) {
    margin-top: 5px;
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0em;
    margin-right: auto;
  }
  @media (min-width: 600px) and (max-width: 1279.99px) {
    margin-top: 5px;
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    margin-top: 10px;
    font-family: Josefin Sans;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
  }
}

.image {
  @media (min-width: 320px) and (max-width: 599.99px) {
    width: 100%;
    height: auto;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    width: 100%;
    height: auto;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    width: 100%;
    height: auto;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    width: 100%;
    height: auto;
  }
}
