.BookingWrapper_container {
  display: none;
}

@media all and (min-width: 600px) and (max-width: 959.99px),
  all and (max-width: 599.99px) {
  .BookingWrapper_container {
    gap: 15px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .BookingWrapper_container > p > span {
    color: #073762;
    font-weight: 700;
  }
  .BookingWrapper_container > p {
    padding: 0 3px;
  }
  .ordial {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 300px;
    color: #ababab;
  }
  .ordial hr {
    width: 100%;
    border: 1px solid #dbdbdb;
  }
  .ordial p {
    padding-top: 4px;
    margin: 0;
    font-size: inherit;
    text-transform: uppercase;
  }
  .buttons {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 220px;
    overflow: hidden;
  }
}
