.findMoreContainer {
  display: none;
}

@media (max-width: 768px) {
  .findMoreContainer {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .findMoreContainer > h2 {
    font-family: "Oblik";
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .link {
    width: 50vw;
  }
  .image {
    width: 50vw;
  }
}
