.support {
  @media (min-width: 320px) and (max-width: 599.99px) {
    margin-top: 50px;
    // margin-bottom: 50px;
    padding: 0px 20px;
    width: 100%;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 20px;
    width: 100%;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 20px;
    width: 100%;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
  }
}

.sectionContent {
  display: flex;
  flex-direction: column;
  @media (min-width: 320px) and (max-width: 599.99px) {
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    margin-left: 65px;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.description {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #14202b;
  font-family: "Josefin Sans";
  text-transform: uppercase !important;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    color: #243864;
  }

  @media (min-width: 320px) and (max-width: 599.99px) {
    text-transform: lowercase !important;
    width: 80%;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    text-transform: lowercase !important;
    width: 70%;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    text-transform: lowercase !important;
    width: 65% !important;
    font-weight: 300;
    line-height: 1.5;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    width: 30% !important;
    font-weight: 300;
    line-height: 1.5;
  }
}

.supportCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0px 25px;
  width: 100%;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @media (min-width: 320px) and (max-width: 599.99px) {
    padding: 0px 10px;
    padding-top: 20px;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    padding: 0px 10px;
    padding-top: 20px;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    padding: 0px 25px;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    padding: 0px 25px;
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(7, 55, 98, 0.249);
  }
}

.icon {
  width: 70px;
  height: 70px;
}

.cardTitle {
  font-weight: 500;
  text-transform: uppercase;
  @media (min-width: 600px) and (max-width: 959.99px) {
    margin-bottom: 0px;
  }
  @media (min-width: 960px) and (max-width: 1280px) {
    margin-bottom: 5px;
  }
}

.cardText {
  margin-bottom: 16px;
  flex-grow: 1;
}

.cardText::first-letter {
  text-transform: capitalize;
}
