.partDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partDetailsTitle {
  margin: 0;
}

.locationPart {
  margin-top: 15px;
}

.locationWrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  @media (min-width: 320px) and (max-width: 959.99px) {
    font-size: 16px !important;
  }
  @media (min-width: 960px) and (max-width: 2200px) {
    font-size: 20px !important;
  }
}

.textWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  @media (min-width: 320px) and (max-width: 959.99px) {
    font-size: 16px !important;
  }
  @media (min-width: 960px) and (max-width: 2200px) {
    font-size: 20px !important;
  }
}

.textWrapperNavigate {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  font-size: 16px !important;
  cursor: pointer;
  animation: color 3s ease-in-out;
}

.textWrapperNavigate:hover {
  color: #0055b2 !important;
}

.addressWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.copiedMessage {
  position: absolute;
  background-color: #1d3967;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 3s ease-in-out;
  @media (min-width: 320px) and (max-width: 959.99px) {
    top: -55px;
    right: 0px;
  }
  @media (min-width: 960px) and (max-width: 2200px) {
    position: absolute;
    top: 0px;
    right: 40px;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.serviceItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  font-size: 17px;
}

.roomServices {
  display: flex;
  flex-direction: row;
  @media (min-width: 320px) and (max-width: 959.99px) {
    justify-content: space-between;
  }
  @media (min-width: 960px) and (max-width: 2200px) {
    gap: 110px;
  }
}

.servicesColumn {
  @media (min-width: 320px) and (max-width: 959.99px) {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.priceWrapper {
  @media (min-width: 320px) and (max-width: 959.99px) {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #1d39675d;
  }
  @media (min-width: 960px) and (max-width: 2200px) {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #1d39675d;
    font-size: 18px;
  }
}
