.centered-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.centered-button {
  color: black;
  border-radius: none;
}

.centered-button:hover {
  background-color: red !important;
}
@media (min-width: 600px) {
  .centered-button {
    display: none;
  }
}

@media (min-width: 960px) {
  .centered-button {
    display: none;
  }
}
